@{
    ViewBag.Title = "Ciekawostki";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<!--Dodanie właściwość transition, która umożliwia wprowdzenie animacji do strony,
    po najechaniu myszką na tekst zmienia się kolor tła oraz szerokość pola tekstowego-->
<style>
    p:hover {
        width: 80%;
        background-color: red;
    }
</style>

<p>
    Początki fitnessu łączyć należy z wynalezieniem i rozpowszechnieniem podstawowej formy gimnastyki rekreacyjnej jaką był aerobik. Kolebką aerobiku są Stany Zjednoczone.
    Za wynalazcę tej formy ćwiczeń uznawany jest dr Kenneth Cooper, który w latach 70. był lekarzem w Narodowej Agencji Aeronautyki USA (NASA). Opracowywał on programy
    kondycyjne dla amerykańskich kosmonautów. Przeprowadził liczne badania na wielu tysiącach osób, które pozwoliły mu na stworzenie założeń aerobiku.

    Cechą charakterystyczną ćwiczeń "aerobowych" (czyli tlenowych) było to, że układ krążenia i oddychania ćwiczącego pracował w ten sposób, aby organizm mógł w trakcie
    ćwiczeń pobierać dostatecznie dużo tlenu i unikać okresów niedotlenienia.

    <br />
    <!--Wstawienie obrazka na stronę-->
    <img src="~/Content/Images/images5.jpg" width="300" height="200" />
</p>
