@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<!--Dodanie danych kontaktowych na stronę-->
<address>
    ul. Kwiatowa 111/11<br />
    50-530 Wrocław<br />
    <abbr title="Phone">P:</abbr>
    222-222-222
</address>

<address>
    <strong>E-mail: </strong>   <a href="mailto:Support@example.com">fitnessclub.pl</a><br />
    
</address>