
@{
    ViewBag.Title = "Exercise3";
}

<h2>Galeria</h2>

<!--Tabela przedstawiająca galerię miniatur zdjęć, po kliknięciu miniatury pojawia się zdjęcie w pełnym rozmiarze-->
<table>
    <tr>
        <td><a href=~/Content/Images/gym.jpg target=”_blank”><img src=~/Content/Images/gym.jpg width="250" height="200"/></a></td>
        <td><a href="~/Content/Images/run.jpg" target=”_blank”><img src=~/Content/Images/run.jpg width="250" height="200" /></a></td>
        <td><a href=~/Content/Images/images2.jpg target=”_blank”><img src=~/Content/Images/images2.jpg width="250" height="200"/></a></td>

    </tr>
    <tr>
        <td><a href=~/Content/Images/images3.jpg target=”_blank”><img src=~/Content/Images/images3.jpg width="250" height="200" /></a></td>
        <td><a href="~/Content/Images/images4.jpg" target=”_blank”><img src=~/Content/Images/images4.jpg width="250" height="200"/></a></td>
        <td><a href=~/Content/Images/images5.jpg target=”_blank”><img src=~/Content/Images/images5.jpg width="250" height="200"/></a></td>
    </tr>
    
</table>

