
@{
    ViewBag.Title = "Exercise4";
}

<!--Zzdefiniowanie wyglądu strony-->
<style>
    table {
        width: 60%;
        margin: auto;
    }
    th {
        text-align: left;
        background: #b200ff;
        color: white;
    }
       
</style>

<!--Dodanie tabeli przedstawiającej cennik-->
<h2>Cennik</h2>
<table class =" table table-hover"style="width:100%" >
    <tr>
        <th>Nazwa pakietu</th>
        <th>Zakres usług</th>
        <th>Okres zobowiązania</th>
        <th>Cena</th>
    </tr>
    <tr>
        <td>Open</td>
        <td>
            Fitness
            Siłownia
        </td>
        <td>12 miesięcy</td>
        <td>50zł</td>
    </tr>
    <tr>
        <td>Do 16</td>
        <td>
            Fitness
            Siłownia
        </td>
        <td>12 miesięcy</td>
        <td>40zł</td>
    </tr>
    <tr>
        <td>Jednorazowe wejście</td>
        <td>
            Fitness
            Siłownia
        </td>
        <td> - </td>
        <td>19zł</td>
    </tr>
</table>

