
@{
    ViewBag.Title = "O nas";
}
<style>
    body{
       color: blue;
       font-family:'Lucida Sans';
    }
</style>

<!--Dodanie tekstu na stronę-->
    <h3>O nas</h3>
    <p3>
            W naszym Fitness Club aktywny wypoczynek staje się przyjemnością, a przyjemność stylem życia.
        Zapraszamy Cię zatem na wyjątkowy trening do naszych klubów, w których znajdziesz nie tylko
        tradycyjne z urządzeń i ćwiczeń, ale także nowości na europejskim rynku Fitness i całkowicie nowe dyscypliny!
        Profesjonalne, choć czasem niekonwencjonalne podejście naszych instruktorów, pomoże Ci osiągnąć każdy zamierzony cel!
    </p3>


