
@{
    ViewBag.Title = "Currencies";
}

<h2>Currencies</h2>
<!--Tabela walut: Euro, Dolar, Funt Brytyjski-->
<!--Nazwa waluty |Kod waluty |Kurs-->
<!--Euro         |EURO       |4.00-->
<table style="width:100%">
    <tr>
        <th>Nazwa waluty</th>
        <th>Kod waluty</th>
        <th>Kurs</th>
    </tr>
    <tr>
        <td>Euro </td>
        <td>EURO</td>
        <td>4,244</td>
    </tr>
    <tr>
        <td>Dolar</td>
        <td>USD</td>
        <td>3,568</td>
    </tr>
    <tr>
        <td>Funt Brytyjski</td>
        <td>GBP</td>
        <td>5,2</td>
    </tr>
</table>

