
@{
    ViewBag.Title = "Exercise1";
}

<h2>Ciekawe linki</h2>

<ul>
    <li><a herf="https://www.google.com" target="_blank">Google.com</a></li>
    <li><a herf="https://www.onet.pl">Onet.pl</a></li>
    <li><a herf="https://www.wp.pl/">Wp.pl</a></li>
    
</ul>

