
@{
    ViewBag.Title = "Exercise4";
}

<h2>Exercise4</h2>

<button class=" btn">Golf</button>
<p class=" btn btn-primary">Focus</p>
<a herf="~/Content/Images/megane.png" class="btn btn-danger">Megane</a>
<a herf="#" class="btn btn-danger">Civic</a>
